<!DOCTYPE html>
<html>
<head>
  <title>Rails Mini Profiler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "rails_mini_profiler" %>
  <%= stylesheet_link_tag "rails_mini_profiler/application", media: "all" %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>

<%= render 'rails_mini_profiler/shared/navbar' %>
<main>
  <section class="main-section">
    <%= render 'rails_mini_profiler/shared/flashes' %>
    <%= yield %>
  </section>
</main>

</body>
</html>
