<!DOCTYPE html>
<html>
<head>
  <title>Rails Mini Profiler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "rails_mini_profiler" %>
  <%= stylesheet_link_tag "rails_mini_profiler/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
