<% if @profiled_requests.empty? %>
  <section class="placeholder">
    <%= inline_svg('logo_variant.svg', class: 'placeholder-image') %>
    <div class="placeholder-text">
      <h2> There is nothing here yet! </h2>
      <p>Send some requests to your app for them to show up here</p>
    </div>
  </section>
<% else %>
  <h1>Profiled Requests</h1>
  <div class="profiled-requests-actions">
    <%= form_with id: 'profiled-request-search-form', url: profiled_requests_url, method: :get do |form| %>
      <%= form.search_field :path, id: 'profiled-request-search', placeholder: 'Search Path...', class: 'search-field' %>
    <% end %>
    <%= link_to(destroy_all_profiled_requests_url,
                method: :delete,
                class: 'clear-action',
                data: { confirm: "This will delete all requests. Are you sure?" }) do %>
      <button>Clear Requests</button>
    <% end %>
  </div>
  <table id="profiled-requests-table" class="table">
    <thead>
    <tr>
      <th class="text-left">Path</th>
      <th class="text-left">Method</th>
      <th class="text-left">Status</th>
      <th class="text-left">Media Type</th>
      <th class="text-right">Duration</th>
      <th class="text-left"></th>
      <th class="text-left"></th>
    </tr>
    </thead>

    <tbody>
    <% @profiled_requests.each do |profiled_request| %>
      <tr data-link="<%= profiled_request_path(profiled_request.id)%>">
        <td class="request-path"><%= profiled_request.request_name %></td>
        <td> <%= profiled_request.request_method %> </td>
        <td> <%= profiled_request.response_status %> </td>
        <td> <%= profiled_request.response_media_type %> </td>
        <td class="text-right"><%= profiled_request.duration %> ms</td>
        <td class=""><%= profiled_request.created_at %></td>
        <td class="request-buttons">
          <%= link_to(profiled_request_path(profiled_request.id), title: 'Show Details') do %>
            <%= inline_svg('show.svg', options = {}) %>
          <% end %>
          <%= profiled_request.flamegraph_icon %>
          <%= link_to(profiled_request_path(profiled_request.id), title: 'Delete Request', method: :delete) do %>
            <%= inline_svg('delete.svg') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
  <br>
<% end %>
