<p id="notice"><%= notice %></p>

<h1>Profiled Requests</h1>

<table class="table">
  <thead>
  <tr>
    <th class="text-left">Path</th>
    <th class="text-left">Status</th>
    <th class="text-left">Response</th>
    <th class="text-right">Duration</th>
    <th class="text-left"></th>
  </tr>
  </thead>

  <tbody>
  <% @profiled_requests.each do |profiled_request| %>
    <tr>
      <td class="request-path"><%= profiled_request.request_path %></td>
      <td><%= profiled_request.response_status %></td>
      <td>json</td>
      <td class="text-right"><%= profiled_request.duration %> ms</td>
      <td class="request-buttons">
        <%= link_to(profiled_request_path(profiled_request.id), title: 'Show Details') do %>
          <%= inline_svg_tag('rails_mini_profiler/show.svg', options = {}) %>
        <% end %>
        <%= link_to(flamegraph_path(profiled_request.id), title: 'Show Flamegraph') do %>
          <%= inline_svg_tag('rails_mini_profiler/graph.svg', options = {}) %>
        <% end %>
        <%= link_to(profiled_request_path(profiled_request.id), title: 'Show Details', method: :delete) do %>
          <%= inline_svg_tag('rails_mini_profiler/delete.svg', options = {}) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
