<p id="notice"><%= notice %></p>

<h1>Profiled Requests</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Path</th>
      <th>Duration</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiled_requests.each do |profiled_request| %>
      <tr>
        <td><%= profiled_request.id %></td>
        <td><%= profiled_request.status %></td>
        <td><%= profiled_request.path %></td>
        <td><%= profiled_request.duration %> ms</td>
        <td><%= link_to 'Show', profiled_request_path(profiled_request.id) %></td>
        <td><%= link_to 'Flamegraph', flamegraph_path(profiled_request.id) %></td>
        <td><%= link_to 'Destroy', profiled_request_path(profiled_request.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
