<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @profiled_request.status %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @profiled_request.duration %>
</p>

<p>
  <strong>Path:</strong>
  <%= @profiled_request.path %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @profiled_request.headers %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profiled_request.body %>
</p>

<% @profiled_request.traces.each do |trace| %>
  <tr>
    <td><%= trace.id %></td>
    <td><%= trace.name %></td>
    <td><%= trace.start %></td>
    <td><%= trace.finish %></td>
    <td><%= trace.duration %> ms</td>
  </tr>
<% end %>

<%= link_to 'Back', profiled_requests_path %>
