<section class="request-details">
  <h1> <%= @profiled_request.request_path %> </h1>

  <ul class="request-details-data">
    <li class="data-item">
      <small>Status</small>
      <span class="request-status request-status-<%= @profiled_request.response_status %>"><%= @profiled_request.response_status %></span>
    </li>
    <li class="data-item">
      <small>Response Time</small>
      <span><%= (@profiled_request.duration.to_f / 100) %>ms</span>
    </li>
    <li class="data-item">
      <small>Allocations</small>
      <span><%= @profiled_request.allocations %></span>
    </li>

  </ul>

  <%= link_to(flamegraph_path(@profiled_request.id), title: 'Show Flamegraph') do %>
    <%= inline_svg_tag('rails_mini_profiler/graph.svg', options = {}) %>
  <% end %>
</section>

<section class="response-details">
  <h1>Response Details</h1>

</section>

<section>
  <% traces = @profiled_request.traces %>
  <% steps = traces
    .map do |trace|
    OpenStruct.new(
      name: trace.name,
      type: trace.name,
      duration: (trace.duration.to_f / 100),
      percent: (trace.duration.to_f / @profiled_request.duration.to_f * 100).round,
      fromStart: (trace.start - @profiled_request.start).to_f / 100,
      payload: trace.payload,
      backtrace: trace.backtrace,
      fromStartPercent: ((trace.start - @profiled_request.start) /
        (@profiled_request.finish - @profiled_request.start)) * 10_000
    )
  end
  %>

  <table class="table pr-steps" style="">
    <thead>
    <tr>
      <th>Step</th>
      <th>Duration</th>
      <th>% of Total</th>
      <th>From Start</th>
    </tr>
    </thead>
    <tbody id="steps">
    <% steps.each do |step| %>
      <%= render "rails_mini_profiler/profiled_requests/shared/step", step: step %>
    <% end %>
    </tbody>
  </table>

</section>
