<section class="page-header">
  <h1> <%= @profiled_request.request_path %> </h1>

  <ul class="request-details-data">
    <li class="data-item">
      <small>Method</small>
      <span class="pill request-method request-method-<%= @profiled_request.request_method %>"><%= @profiled_request.request_method %></span>
    </li>
    <li class="data-item">
      <small>Status</small>
      <span class="pill request-status request-status-<%= @profiled_request.response_status %>"><%= @profiled_request.response_status %></span>
    </li>
    <li class="data-item">
      <small>Response Time</small>
      <span><%= @profiled_request.duration %>ms</span>
    </li>
    <li class="data-item">
      <small>Allocations</small>
      <span><%= @profiled_request.allocations %></span>
    </li>

  </ul>

</section>

<section class="request-details-actions">
  <%= form_with id: 'trace-form', url: profiled_request_url(@profiled_request.id), method: :get do |form| %>
    <%= form.search_field :search, id: 'trace-search', placeholder: 'Search Traces...', class: 'search-field' %>
  <% end %>
  <%= @profiled_request.flamegraph_button %>
</section>

<section>
  <h2>Traces</h2>
  <ol class="trace-list">
    <% @traces.each do |trace| %>
      <%= render "rails_mini_profiler/profiled_requests/shared/trace", trace: trace %>
    <% end %>
  </ol>
</section>
