<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @profiled_request.status %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @profiled_request.duration %>
</p>

<p>
  <strong>Path:</strong>
  <%= @profiled_request.path %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @profiled_request.headers %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profiled_request.body %>
</p>

<%= link_to 'Edit', edit_profiled_request_path(@profiled_request) %> |
<%= link_to 'Back', profiled_requests_path %>
