<section class="request-details">
  <h1>Request Details</h1>

  <p>
    <strong>Status:</strong>
    <%= @profiled_request.status %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @profiled_request.duration %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= @profiled_request.path %>
  </p>

  <p>
    <strong>Headers:</strong>
    <%= @profiled_request.request_headers %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @profiled_request.request_body %>
  </p>
</section>

<section class="response-details">
  <h1>Response Details</h1>
</section>

<section>
  <% traces = @profiled_request.traces %>
  <% steps = traces
    .map do |trace|
    OpenStruct.new(
      name: trace.name,
      type: trace.name,
      duration: trace.duration.round(2),
      percent: (trace.duration / @profiled_request.duration * 100).round(2),
      fromStart: ((trace.start - @profiled_request.start) * 1000).round(2),
      payload: trace.payload,
      backtrace: trace.backtrace,
      fromStartPercent: ((trace.start - @profiled_request.start) /
        (@profiled_request.finish - @profiled_request.start)) * 100
    )
  end
  %>

  <table class="table pr-steps" style="display: none">
    <thead>
    <tr>
      <th>Step</th>
      <th>Duration</th>
      <th>% of Total</th>
      <th>From Start</th>
    </tr>
    </thead>
    <tbody id="steps">
    <% steps.each do |step| %>
      <%= render "rails_mini_profiler/profiled_requests/shared/step", step: step %>
    <% end %>
    </tbody>
  </table>

</section>
