<section class="page-header">
  <h1> <%= @profiled_request.request_path %> </h1>
</section>

<div class="profiled-request-details">
  <ul class="request-details-data">
    <li class="data-item">
      <small>Method</small>
      <span class="pill request-method request-method-<%= @profiled_request.request_method %>"><%= @profiled_request.request_method %></span>
    </li>
    <li class="data-item">
      <small>Status</small>
      <span class="pill request-status request-status-<%= @profiled_request.response_status %>"><%= @profiled_request.response_status %></span>
    </li>
    <li class="data-item">
      <small>Response Time</small>
      <span><%= @profiled_request.duration %>ms</span>
    </li>
    <li class="data-item">
      <small>Allocations</small>
      <span><%= @profiled_request.allocations %></span>
    </li>
  </ul>
  <%= @profiled_request.flamegraph_button %>
</div>

<%= render "rails_mini_profiler/profiled_requests/show/trace_list" %>
